<%= form_for(@wish_list) do |f| %>
  <% if @wish_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish_list.errors.count, "error") %> prohibited this wish_list from being saved:</h2>

      <ul>
      <% @wish_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :event_place %><br />
    <%= f.text_field :event_place %>
  </div>
  <div class="field">
    <%= f.label :creator_name %><br />
    <%= f.text_field :creator_name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.date_select :event_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
