<h1>Listing wish_lists</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Event place</th>
    <th>Creator name</th>
    <th>Event date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wish_lists.each do |wish_list| %>
  <tr>
    <td><%= wish_list.title %></td>
    <td><%= wish_list.description %></td>
    <td><%= wish_list.event_place %></td>
    <td><%= wish_list.creator_name %></td>
    <td><%= wish_list.event_date %></td>
    <td><%= link_to 'Show', wish_list %></td>
    <td><%= link_to 'Edit', edit_wish_list_path(wish_list) %></td>
    <td><%= link_to 'Destroy', wish_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wish list', new_wish_list_path %>
